.action-circle {
	position: relative;

	width: 20vw;
	height: 20vw;

	max-width: 200px;
	max-height: 200px;

	min-width: 150px;
	min-height: 150px;

	padding: min(max(2.8vw, 15px), 25px);
	border-radius: 50%;

	overflow: hidden;

	user-select: none;
	z-index: 1;

	-webkit-tap-highlight-color: transparent;

	&--click {
		cursor: pointer;
	}

	&--papper {
		background: linear-gradient(var(--papper-gradient));
	}

	&--rock {
		background: linear-gradient(var(--rock-gradient));
	}

	&--scissor {
		background: linear-gradient(var(--scissors-gradient));
	}

	&__hidden {
		width: 100%;
		height: 100%;
		background-color: var(--dark-bar);
		border-radius: 50%;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		border-radius: 50%;
		background-color: #fff;
		border-top: 6px solid hsla(var(--header), 0.2);

		transition: border-top 0.2s;

		&:active {
			border-top: 6px solid transparent;
		}
	}
}
