.box-result {
	position: relative;
	z-index: 1;

	&__title {
		margin: 0;

		line-height: 0.9;
		font-size: clamp(2rem, 4vw, 3rem);
		font-weight: 700;
	}

	&__play {
		margin-top: 20px;

		padding: 10px 30px;

		border: 0px;
		border-radius: 5px;
		outline: none;

		background-color: #fff;

		color: var(--dark);

		cursor: pointer;

		&:active {
			position: relative;

			color: var(--red-color);
		}
	}
}
