.App {
	height: 100%;

	padding-top: 2rem;

	.container {
		position: relative;

		width: 100%;
		// max-width: 75%;
		max-width: min(75%, 650px);

		&--header {
			margin: auto;
		}

		&--first-step,
		&--second-step {
			margin: 80px auto auto;
		}

		&--first-step {
			display: grid;
			grid-template-areas:
				'papper rock'
				'scissors scissors';
			justify-content: center;
			justify-items: center;
			gap: 20px 40px;
		}

		&__circle {
			position: relative;

			&::before:not(.second-step__circle) {
				content: '';
				position: absolute;

				width: 20vw;
				height: 15px;
				max-width: 200px;
				min-width: 150px;

				background-color: var(--dark-bar);
			}

			&--papper {
				grid-area: papper;

				&::before {
					top: 50%;
					left: 50%;

					transform-origin: left;
					transform: rotate(60deg);
				}
			}

			&--rock {
				grid-area: rock;
				&::before {
					transform: rotate(-60deg);
					transform-origin: right;
					top: 50%;
					right: 50%;
				}
			}

			&--scissor {
				grid-area: scissors;

				&::before {
					top: calc(-50% - 15px);
				}
			}
		}
	}

	.second-step {
		display: flex;
		justify-content: center;

		&__title {
			position: relative;
			margin-bottom: 1.5rem;

			z-index: 1;
		}

		&__column {
			flex: 1;

			text-align: center;

			align-self: center;
		}

		&--circle {
			display: flex;
			justify-content: center;
		}
	}

	.waves {
		position: absolute;

		width: 20vw;
		height: 20vw;
		max-width: 200px;
		max-height: 200px;
		min-width: 150px;
		min-height: 150px;

		background-color: var(--dark);

		border-radius: 50%;

		&--first {
			animation: wavesAnimation 2.5s linear;
		}
		&--second {
			animation: wavesAnimation 2.5s linear 0.7s forwards;
		}
		&--thrid {
			animation: wavesAnimation 2.5s linear 1.3s infinite;
		}

		@keyframes wavesAnimation {
			0% {
				transform: scale(1);
				opacity: 1;
			}

			100% {
				transform: scale(2);
				opacity: 0;
			}
		}
	}
}
